<form
  action="/"
  class="contact_form"
  [formGroup]="contactForm"
  (ngSubmit)="onSubmit()"
>
  <h2>Tešíme sa na vaše správy</h2>
  <div class="contact_form__inputs">
    <label class="contact_form__label">
      <span> Meno </span>
      <input
        type="text"
        class="contact_form__input"
        formControlName="name"
        [class.contact_form__input--invalid]="validateInput('name')"
      />
      <span *ngIf="validateInput('name')" class="contact_form__error_text">
        Nesprávne meno
      </span>
    </label>
    <label class="contact_form__label">
      <span>Číslo telefónu</span>
      <input
        type="tel"
        class="contact_form__input"
        formControlName="phoneNumber"
      />
      <span
        *ngIf="validateInput('phoneNumber')"
        class="contact_form__error_text"
      >
        Nesprávne telefónne číslo
      </span>
    </label>
  </div>
  <label class="contact_form__label">
    <span>Vaša správa</span>
    <textarea class="contact_form__textarea" formControlName="text"></textarea>
    <span *ngIf="validateInput('text')" class="contact_form__error_text">
      Správa nemôže byť prázdna
    </span>
  </label>
  <button class="button button--cart">
    <span>Napíšte na adresu.</span>
  </button>
</form>
