<main>
  <div class="container">
    <h2 class="content__title">O nás</h2>
    <p class="text">
      Vitajte na stránke Like Pizza - vašom obľúbenom mieste
      pre chutnú pizzu v centre Kyjeva! Našou pýchou je pripravovať pizzu
      výlučne podľa pôvodnej talianskej receptúry, aby ste si mohli vychutnať
      neprekonateľnú chuť tradičných talianskych jedál priamo v našom meste.
    </p>
    <p class="text">
      V našej pestrej ponuke nájdete obľúbené druhy pizze, ktoré
      uspokojí všetky chuťové preferencie.
    </p>
    <p class="text">
      Ak ste fanúšikom klasiky, vyskúšajte našu taliansku pizzu, kde sa čerstvé
      cesto je skombinované s lahodnými paradajkami, syrom mozzarella a aromatickou
      bylinkami.
    </p>
    <p class="text">
      Pre milovníkov korenia ponúkame pizzu Pepperoni s pikantnou salámou,
      syrom a paradajkovou omáčkou. Určite nadchne vaše chuťové poháriky
      receptory a zvýrazní vašu lásku k pikantným chutiam.
    </p>

    <p class="text">
      Mäsové pizze sú skutočnou lahôdkou pre milovníkov sýtych jedál. Naše mäsové
      pizza sa pripravuje zo sortimentu mäsa, ktorý zahŕňa salámu, šunku, kuracie mäso
      kuracie filé a lahodnú omáčku. Naplní vás energiou a uspokojí vaše
      chuť do jedla.
    </p>
    <p class="text">
      Ak hľadáte niečo jednoduché, ale chutné, vyskúšajte našu Margaritu -
      klasickú kombináciu bieleho syra, čerstvých paradajok a bazalky. Tento variant
      pizza si vždy získava srdcia svojou jednoduchou, ale bezkonkurenčnou chuťou.
    </p>
    <p class="text">
      A nakoniec, pre milovníkov syra máme pizzu Four Cheese, ktorá
      spája úžasnú harmóniu chutí štyroch syrov
    </p>
  </div>
</main>
