<main>
  <div class="container">
    <h2 class="content__title">Náš tím</h2>
    <div class="content__items">
      <article>
        <img src="/assets/team/illya.jpg" alt="" />
        <div>
          <span class="name">Illia</span>
          <span>Šéfkuchár</span>
        </div>
      </article>
      <article>
        <img src="/assets/team/ya.jpg" alt="" />
        <div>
          <span class="name">Oleksandr</span>
          <span>Správca</span>
        </div>
      </article>
      <article>
        <img src="/assets/team/vitalik.jpg" alt="" />
        <div>
          <span class="name">Vitaliy</span>
          <span>Piceola</span>
        </div>
      </article>
      <article>
        <img src="/assets/team/jeka.jpg" alt="" />
        <div>
          <span class="name">Yevgen</span>
          <span>Starší výrobca pizze</span>
        </div>
      </article>
      <article>
        <img src="/assets/team/taras.jpg" alt="" />
        <div>
          <span class="name">Taras</span>
          <span>Čašník</span>
        </div>
      </article>
      <article>
        <img src="/assets/team/denis.jpg" alt="" />
        <div>
          <span class="name">Denis</span>
          <span>Kurier</span>
        </div>
      </article>
      <article>
        <img src="/assets/team/david.jpg" alt="" />
        <div>
          <span class="name">Devid</span>
          <span>Manažér</span>
        </div>
      </article>
    </div>
  </div>
</main>
